<div class="web-container">
    <div class="header d-flex align-items-center justify-content-between">
      <div class="organization-logo d-flex gap-5">
        <div class="organization-name fontInter d-flex align-items-center">
            Reports
        </div>
        <div class="home fontInter d-flex align-items-center" (click)="gotoHome()">
          <i class="bi bi-house-door-fill"></i> Home
        </div>
      </div>
      <div class="profile-section d-flex align-items-center gap-2">
        <!-- <div class="notification">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
          </svg>
        </div> -->
        <div class="profileimg">
          <!-- <img src="assets/header/profile.png" alt="" height="100%" width="100%"> -->
        </div>
        <div class="fontInter profileName">{{ userInfo.ROLENAME }}</div>
      <div class="dropdown">
        <svg style="cursor:pointer;" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
        </svg>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      </div>
    </div>
    <div class="main-container">
      <div class="col-2 side-nav">
        <div class="side-menu d-flex flex-column gap-1">
          <!-- <div *ngFor="let res of sidebar; let i = index" (click)="NavigateTo(i)">
            <div class="menu-block d-flex gap-3 align-items-center justify-content-start"
              [ngClass]="{ 'sidebar-content-active': i === activeIndex }">
              <div class="side-menu-logo">
                <i class={{res.image}}></i>
              </div>
              <div class="side-menu-title fontInter">{{res.content}}</div>
            </div>
          </div> -->
          <div *ngFor="let item of dropdownItems;let i =index" class="dropdown" (click)="NavigateTo(i)">
            <button class="dropdown-btn side-menu-title" (click)="toggleDropdown($event)">{{ item.title }}
             <!-- <i class="bi bi-caret-down-fill down-icon"></i> -->
            </button>
            <!-- <div class="dropdown-container">
              <div class="dropdown-value" *ngFor="let subItem of item.value;let i=index" (click)="NavigateTo(i,iT)"  [ngClass]="{ 'sidebar-content-active': i === activeIndex && iT===page}">
                <div class="btn-group dropend w-100 d-flex justify-content-between">
                  <button type="button" class="ineer-dropdown-btn dropdown-toggle custom-dropdown-button" [ngClass]="{ 'sidebar-content-active': i === activeIndex && iT===page}" data-bs-toggle="dropdown" aria-expanded="false">
                  {{subItem.content}}
                    <i [ngStyle]="{'color': i === activeIndex && iT===page  ? '#ffffff' : '#337AB7'}" class="bi bi-caret-right-fill down-icon"></i>
                  </button>
                  <ul class="dropdown-menu dept-menu" [ngClass]="{ 'hide': subItem.content != 'Department'}" id="{{i}}">
                    <li *ngFor="let dept of department;let i=index">{{dept.Department_name}}</li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
          
          
        </div>
      </div>
      <div class="col-10 p-0 w-100">
        <div class="report-bacground">
          <router-outlet></router-outlet>
        </div>
      </div>
      
    </div>
  </div>