.web-container{
    height: 100vh;
    width: 100%;
    background: #f5f6fa;
    overflow: hidden;
}

.header{
   height: 8vh;
   width: 100%;
   background:#ffffff;
   background-size: 100% 100%; 
   box-shadow: 0px 4px 4px 0px #00000040;
   padding: 2%;
}
header{
    height: 10vh;
    background: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

}
.orgName{
    font-size: 2rem;
    font-weight: 600;
   font-family: sans-serif;
}
.logo-img{
    height: 2.5rem;  
    width: 2.5rem;
//    margin: 1.5vh 0vh;
}

.organization-name{
   font-size: 1.5rem;
    font-weight: 700;
    line-height: 28.13px;
    text-align: left;
    color: #337AB7;
}
.notification svg{
    color: #7E84A3; 
}
.profileimg{
    height: 2.5rem;  
    width: 2.5rem;
    background-position: center center;
    background-size: 100% 100%;

    img{
        border-radius: 50%;
    }
}
.dropdown svg{
    color: #7E84A3; 
 
}
.profileName{
font-size: 0.9rem;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #5A607F;
 
}
.main-container{
    height:92vh;
    width: 100vw;
    display: flex;
    overflow:hidden;
}
.side-nav{
    height:92vh;
    width: 15vw;
    border-right: 1px solid #E6E9F4;
    padding:1.5rem 0rem;
    background: #337AB7;
    padding: 1.5rem .5rem;
  }
.menu-block{
    padding: 0.625rem 1rem 0.625rem;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 4px;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
}
.side-menu-title{
font-size: 0.875rem;
font-weight: 400;
line-height: 20px;
text-align: left;
// color: #5A607F;
}
.sidebar-content-active{
    padding: 0.3rem 0.2rem 0.3rem !important;
    opacity: 0px;
    background: #337AB7;
    border-radius: 4px;
    color: #ffffff !important;
    cursor: pointer;

}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }



  
  /* Style the sidenav links and the dropdown button */
 .dropdown-btn {
    padding: 0.625rem 1rem 0.625rem;
    // padding: 1.167rem 1rem;
    text-decoration: none;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    outline: none;
  }
  


  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    position: relative;
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
    color: #337AB7;
    padding: 0.625rem 1rem 0.625rem;
    margin: 0.6rem 0rem;
    border-radius:5px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .dropdown-value{
   border-radius: 5px;
   padding: .6rem 0rem;
  }
  .down-icon{
   position: absolute;
   right: .5rem ;

  }

  .hide{
    display: none;
  }
  .custom-dropdown-button::after {
    position: absolute;
    right: .5rem ;
  }
  .dropend .dropdown-toggle::after{
    content: none;
  }
  .ineer-dropdown-btn{
    text-decoration: none;
    color: #337AB7;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    padding: 0.2rem 0rem;
  }
 .dept-menu{
    background: #00559D;
    color: #ffffff;
    padding:0rem 0.6rem;

    li{
        padding: 0.5rem 0rem;
    }
 }
 .report-bacground{
    background: #DEF0FF;
    width: 84vw;
    height: 90vh;
    margin:1vh .5vw;
    border-radius: 5px;
    overflow-y: auto;
 }